<!DOCTYPE html>
<html lang="pl">
    <head> 
        <meta charset="UTF-8"/>
        <meta name="register" content="width=device.width, initial-scale=1.0"/>
        <link rel="stylesheet" type="text/css" href="style.css"/>


        <title>register</title>
    </head>
<body>
    <section>
    <div class="waves">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 1080 ">
            <path  fill="#fff" fill-opacity="1" d="M 0 0 C 1399 -3 494 1091 1920 1080 L 1920 0"/> 
                </svg>
        </div>

    </div>
    <div class="panel">
        <div class="inner" id="left">
                <div class="log_register" id="l">

                    <div id="choice">
                    <a href="index.html" id="log_in"><i class="bi bi-person-fill"></i> Zaloguj</a>
                    <a href="#" i d="register">Zarejestruj <i class="bi bi-clipboard"></i></a>
                    </div>
                    
                    <div class="log">
                        <form action="/submit" method="post">
                           
                            <div class="input_box">
                                <h1>E-mail</h1>
                                <input type="text" placeholder="Email" required id="email">
                            </div>
                            
                            <div class="input_box">
                                <h1>Hasło</h1>
                                <input type="password" placeholder="Password" required id="password">
                            </div>
                            
                            <div class="input_box">
                                <h1>Pesel</h1>
                                <input type="text" placeholder="PESEL" required id="pesel">
                            </div>
                            <div class="input_box">
                                <h1>Płeć</h1>
                                <input type="text" placeholder="Płeć" required id="sex">
                            </div>
                            
                        </form>
                    </div>
                </div>
        </div>
        <div class="inner" id="right">
            <div class="log_register">
                
                <div class="log" id="log_right">
                    <form action="">
                       
                        <div class="input_box">
                            <h1>Imię</h1>
                            <input type="text" placeholder="Email" required id="name">
                        </div>
                        
                        <div class="input_box">
                            <h1>Nazwisko</h1>
                            <input type="text" placeholder="Nazwisko" required id="surname">
                        </div>
                        <div class="input_box">
                            <h1>Adres</h1>
                            <input type="text" placeholder="Adres" required id="address">
                        </div>

                        <div class="input_box">
                            <h1>Nr. telefonu</h1>
                            <input type="text" placeholder="Nr. telefonu" required id="phonenumber">
                        </div>
                        

                        <button type="submit" class="btn" id="reg_btn">Zarejestruj się</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</section>
    
</body>
</html>